<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Journey</title>

</head>

<body style="min-height: 100%; display: flex; flex-direction: column; margin: 0;">
<main style="flex: 1;">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(68, 170, 100);">
	<div class="container">
		<a class="navbar-brand" href="#">Journey</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">我的日记
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pages/write">写日记</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/sign_out" data-method="delete">退出登录</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Page Content -->
<div class="container" style="padding-top: 100px">
	<!-- Page Features -->
	<div class="row text-center">
		<% @journals.each do |journal| %>
			<div class="col-lg-6 col-md-6 mb-4">
				<div class="card h-100" style="text-align: center">
					<img class="card-img-top" src="https://unsplash.it/300/200?random=<%= journal.id %>" alt="">
					<div class="card-body">
						<h4 class="card-title"><%= journal.created_at.to_date.to_s %></h4>
						<p class="card-text" id="<%= journal.id %>" style="white-space: pre-line"><%= journal.journal_card_content %></p>
						<input type="button" class="btn btn-primary" value="复制分享" onclick="copyContent(<%= journal.id %>)" />
				</div>
<!--					<div class="card-footer">-->
<!--						<p class="card-text" style="white-space: pre-line"><%#= journal.location %></p>-->
<!--					</div>-->
				</div>
			</div>
		<% end %>

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->
</main>
<!-- Footer -->
<footer class="py-2 " style="bottom:0; width: 100%; background-color: rgb(68, 170, 100); margin-top: 50px;">
	<div class="container">
		<p class="m-0 text-center text-white">乃川制作 &copy; Journey 2020</p>
	</div>
	<!-- /.container -->
</footer>


</body>

</html>

<script>
	function copyContent(id) {
			str = $(`#${id}`).text();
      const el = document.createElement('textarea');
      el.value = str;
      el.setAttribute('readonly', '');
      el.style.position = 'absolute';
      el.style.left = '-9999px';
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
  }
</script>